body {
  margin: 50px 0 0 0;
  padding: 0;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #aaa;
  font-size: 18px;
}

h1 {
  color: #719e40;
  letter-spacing: -3px;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  font-weight: 200;
  margin-bottom: 0;
}

.main-wrapper {
  position: relative;
  top: 6px;
}

.navbar-form {
  position: relative;
  top: 3px;
}

.badges-main-wrapper {
  margin-bottom: 100px;
  &.loading {
    margin-bottom: 0;
  }
}

.badge-image .col-xs-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

div[infinite-scroll] {
  min-height: 120vh;
  padding-bottom: 100px;
}

.badge-image {
  &.ng-enter,
  &.ng-leave,
  &.ng-move {
    transition: transform 0.1s ease, opacity 0.1s ease;
  }
  &.ng-enter {
    transform: scale(0.85);
    opacity: 0;
    &.ng-enter-active {
      transform: scale(1);
      opacity: 1;
    }
  }
  &.ng-move {
    transform: scale(0.85);
    opacity: 0;
    &.ng-move-active {
      transform: scale(1);
      opacity: 1;
    }
  }
  &.ng-leave {
    transform: scale(1);
    opacity: 1;
    &.ng-leave-active {
      transform: scale(0.85);
      opacity: 0;
    }
  }
  &.ng-enter-stagger {
    transition-duration: 0;
  }
  &.ng-enter-stagger,
  &.ng-leave-stagger
  &.ng-move-stagger {
    transition-delay: 0.1s;
  }
}

