/* line 1, ../sass/app.scss */
body {
  margin: 50px 0 0 0;
  padding: 0;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #aaa;
  font-size: 18px;
}

/* line 11, ../sass/app.scss */
h1 {
  color: #719e40;
  letter-spacing: -3px;
  font-family: 'Lato', sans-serif;
  font-size: 100px;
  font-weight: 200;
  margin-bottom: 0;
}

/* line 20, ../sass/app.scss */
.main-wrapper {
  position: relative;
  top: 6px;
}

/* line 25, ../sass/app.scss */
.navbar-form {
  position: relative;
  top: 3px;
}

/* line 30, ../sass/app.scss */
.badges-main-wrapper {
  margin-bottom: 100px;
}
/* line 32, ../sass/app.scss */
.badges-main-wrapper.loading {
  margin-bottom: 0;
}

/* line 37, ../sass/app.scss */
.badge-image .col-xs-4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 51, ../sass/app.scss */
div[infinite-scroll] {
  min-height: 120vh;
  padding-bottom: 100px;
}

/* line 57, ../sass/app.scss */
.badge-image.ng-enter, .badge-image.ng-leave, .badge-image.ng-move {
  transition: transform 0.1s ease, opacity 0.1s ease;
}
/* line 62, ../sass/app.scss */
.badge-image.ng-enter {
  transform: scale(0.85);
  opacity: 0;
}
/* line 65, ../sass/app.scss */
.badge-image.ng-enter.ng-enter-active {
  transform: scale(1);
  opacity: 1;
}
/* line 70, ../sass/app.scss */
.badge-image.ng-move {
  transform: scale(0.85);
  opacity: 0;
}
/* line 73, ../sass/app.scss */
.badge-image.ng-move.ng-move-active {
  transform: scale(1);
  opacity: 1;
}
/* line 78, ../sass/app.scss */
.badge-image.ng-leave {
  transform: scale(1);
  opacity: 1;
}
/* line 81, ../sass/app.scss */
.badge-image.ng-leave.ng-leave-active {
  transform: scale(0.85);
  opacity: 0;
}
/* line 86, ../sass/app.scss */
.badge-image.ng-enter-stagger {
  transition-duration: 0;
}
/* line 89, ../sass/app.scss */
.badge-image.ng-enter-stagger, .badge-image.ng-leave-stagger
.badge-image.ng-move-stagger {
  transition-delay: 0.1s;
}
